@model IEnumerable<MusicLibraryBrowser.WorkVersion>

@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["ArtistName"] - @ViewData["WorkName"] Work Versions</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkVersionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lossless)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkVersionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lossless)
            </td>
            <td>
                @if (item.ImageId != -1)
                {
                    <a asp-controller="Images" asp-action="Index" asp-route-id="@item.ImageId">
                        <img src="@Url.Action("RenderImage", new { id = item.ImageId})" width="70" height="70" />
                    </a>
                }
                else
                {
                    <img src="~/images/person.png" width="70" height="70" />
                }
            </td>
        </tr>
}
    </tbody>
</table>
