@model IEnumerable<MusicLibraryBrowser.Artist>

@{
    ViewData["Title"] = "Index";
}

<h2>Artists</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td align="justify">
                <a asp-controller="Works" asp-action="Index" asp-route-id="@item.ArtistId">@Html.DisplayFor(modelItem => item.ArtistName)</a>
            </td>
            <td align="justify">
                @Html.DisplayFor(modelItem => item.Genre.GenreName)
            </td>
        </tr>
}
    </tbody>
</table>
