@model IEnumerable<MusicLibraryBrowser.ViewModels.ArtistViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["GenreName"] Artists</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr height="80">
            <td align="justify">
                <a asp-controller="Works" asp-action="Index" asp-route-artistid="@item.ArtistId">@Html.DisplayFor(modelItem => item.ArtistName)</a>
            </td>
            <td align="justify">
                @if (item.ImageId != -1)
                {
                    <a asp-controller="Images" asp-action="Index" asp-route-id="@item.ImageId">
                        <img src="@Url.Action("RenderImage", new { id = item.ImageId})" width="70" height="70" />
                    </a>
                }
                else
                {
                    <img src="~/images/person.png" width="70" height="70" />
                }
                </td>
        </tr>
}
    </tbody>
</table>
