@model IEnumerable<MusicLibraryBrowser.Work>

@{
    ViewData["Title"] = "Index";
}

<h2>Works</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="WorkVersions" asp-action="Index" asp-route-id="@item.WorkId">@Html.DisplayFor(modelItem => item.WorkName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Genre.GenreName)
            </td>
        </tr>
}
    </tbody>
</table>
